/*===============================

    Resets

===============================*/
*{
    box-sizing: border-box;
    color: #f5f5f5;
}
html{
    height: 100%;
}
html,body{
	margin: 0;
}

ul,li,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 700;
	font-weight: normal;
}

ul,li{
	list-style-type: none;
}

a{
	cursor: pointer;
	text-decoration: none;
}
img{
	border: 0;
}
hr{
	height: 0;
	margin: 1rem 0;

	border: 0;
	border-bottom: 2px solid rgba(245, 245, 245, 0.1);
}
/*===============================

    Header

===============================*/
header{
    background-color: #12171d;
}
.left{
    float: left;
}
.right{
    float: right;
    align-items: center;
}
.topNav .left .logo h1 a{
    color: transparent;
}
.topNav .left .logo{
    background-image: url('images/icons/bungie_logo_with_shield.svg');
    background-repeat: no-repeat;
}
.topNav{
    overflow: hidden;
}
.left .navBucket{
    
}
.navBucketItems{
    display: none;
    overflow: hidden;
}
/*===============================

    Main

===============================*/
main{
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100%;
        background-image: url("images/d2_witch_queen_launch_homepage_hero-desktop-bg_1.jpg");
        background-repeat: no-repeat;
    background-size: cover;;
}
main content{
    display: table-cell;
}
#featured{
    background-color: #12171d;
}
#latest{
    background-color: #12171d;
}
#minorStory{
    background-color: #12171d;
}
#twitter{
    background-color: #12171d;
}
/*===============================

    Footer

===============================*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #12171d;
    font-size: smaller;
}
footer ul{
    width: 70%;
}
div.navBottom{
    display: flex;
    justify-content: center;
}
div.navBottomLogo{
    display: flex;
    justify-content: center;
}
div.navBottom{
    display: flex;
}
div.navBottom.column{
    display: flex;
    padding: 0% 20%;
}
div.navBottomSocial{
    display: flex;
    justify-content: center;
}
div.navBottomSocial #social{
    height:10%;
}
div.center{
    display: flex;
    justify-content: center;
}
div.navBottomApp{
    display: flex;
    justify-content: center;
}
div.navBottomApp img{
    height: 50%;
}